{% extends 'layouts/panel/master.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-lg-8 my-3">

            <div class="card">
                <div class="card-body">
                    <div class="display-5">
                        Who am I?
                    </div>
                    <div class="mt-3 description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <div class="display-5">
                        My Skills?
                    </div>
                    <div class="mt-3 description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 my-3">
            
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Pierre-Person.jpg" alt="Mohamed Hashemi">
            </div>
            
            <div class="card mt-3">
                <div class="card-body">
                    <div class="small-block-title">
                        My Interests
                    </div>
                    <div>
                        <ul>
                            <li>Data Science</li>
                            <li>Machine Learning</li>
                            <li>Mathematics</li>
                            <li>Back-End Developing</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="card mt-3">
                <div class="card-body">
                    <div class="small-block-title">
                        Social Media
                    </div>
                    <div>
                        <ul>
                            <li>LinkedIn</li>
                            <li>GitHub</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}