{% extends 'layouts/panel/master.html' %}

{% block title %}
صفحه‌ی کاربری
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-lg-3 my-3">
            <div class="card shadow-sm border-0 p-3">
                <div>
                    سرویس‌های فعال
                </div>
                <div class="display-3 text-center">
                    1
                </div>
            </div>
        </div>

        <div class="col-lg-3 my-3">
            <div class="card shadow-sm border-0 p-3">
                <div>
                    تیکت‌ها
                </div>
                <div class="display-3 text-center">
                    5
                </div>
            </div>
        </div>

        <div class="col-lg-3 my-3">
            <div class="card shadow-sm border-0 p-3">
                <div>
                    صورت‌حساب‌ها
                </div>
                <div class="display-3 text-center">
                    5
                </div>
            </div>
        </div>

        <div class="col-lg-3 my-3">
            <div class="card shadow-sm border-0 p-3">
                <div>
                    پرداخت‌ها
                </div>
                <div class="display-3 text-center">
                    2
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-6 my-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        تیکت‌های اخیر
                    </div>
                </div>
                <div class="card-body">
                    به زودی
                </div>
            </div>
        </div>

        <div class="col-lg-6 my-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        صورت‌حساب‌های اخیر
                    </div>
                </div>
                <div class="card-body">
                    به زودی
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}