/* #region Main Tags Style */

body {
  background-color: #eeeeee;
}

header {
  background-color: white;
}

/* #endregion Main Tags Style */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* #region Main Classes Style */

.text-left {
  text-align: left;
}

.nav-active {
  color: #212121 !important;
  border-bottom: #212121 2px solid;
}

.description {
  line-height: 2rem;
}

.small-block-title {
  font-size: 1.3rem;
  margin-bottom: .8rem;
}

/* #endregion Main Tags Style */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* #region Customize HTML Tags */

table {
  margin: 0 !important;
}

th {
  font-weight: normal;
}

ul {
  margin-bottom: 0;
}

/* #endregion Customize HTML Tags */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* #region Customize Bootstrap Classes */

.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 15px !important;
}

.card-header,
.card-body {
  background-color: white;
  padding: 20px 20px;
}

.navbar-expand {
  justify-content: center !important;
}

.nav-item a {
  text-align: center;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.navbar {
  padding: 0;
}

/* #endregion Customize Bootstrap Classes */