<header class="shadow-sm">

    <div class="border-bottom py-3">
        <div class="container">
            <div class="display-3 text-center my-5">
                Mohamed Hashemi
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand navbar-light text-center">
            
        <ul class="navbar-nav mb-0 display-center">

            <li class="nav-item">
                <a class="nav-link nav-active" href='{% url "website.index" %}'>Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href='{% url "website.index" %}'>Contact</a>
            </li>

        </ul>

    </nav>

</header>